<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--
	Etiqueta XML appSettings
	
	Esta etiqueta sirve para darle ciertas configuraciones a nuestra aplicacion
	ya sean archivos como valores. 
	
	Dentro de esta etiqueta vamos ir agregando configuraciones que llevaran 
	la etiqueta <add/>
	
	A su vez dicha etiqueta tendra los siguientes atributos:
	- key: este atributo es el nombre que le damos a la configuracion para usar
	en cualquier parte del programa.
	- value: el valor que va a tener dicha configuracion, como dijimosm puede ser 
	tanto un valor numerico, caracteres o incluso imagenes. 
	
	De esta manera quedaria de la siguiente manera como se muesra a continuacion:
	-->

	
	<appSettings>
		<add key="password" value="123"/>
		<add key="imagen-fondo" value="la ruta de la imagen"/>
		<add key="cambia-fondo" value="S"/>
	</appSettings>
</configuration>