<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
		<!--
		Configuraciones 
		Las configuraciones se hacen mediante la etiqueta <appSettings>,
		dentro de la misma agregamos las configuraciones con la etiqueta <add/>.
		
		Esta etiqueta tiene dos atributos
		key: es el nombre de la configuracion
		value: es el valor de la configuracion que despues sera levantado en nuestro codigo
		
		La estructura final de esta etiqueta sera 
		
		<add key="nombre-configuracion" value="valor"/>
		
		-->
	<appSettings>
		<add key="password" value="123"/>
		<add key="imagen-backgound" value="C:\Users\User\Desktop\imagenes\chicho.png"/>
		<add key="cambia-fondo" value="N"/>
	</appSettings>
</configuration>